body{
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}
h1{
    font-size: 50px;
    font-weight: bold;
}
h2{
    font-size:30px;
    font-weight: bold;
}
.orange-color{
    color: orangered;
}
#top-space{
    margin-top: 150px;
}
.foodie-area{
    display: flex;
    margin-bottom: 50px;
}
.half-width{
    width: 50%;
    margin-left:60px ;
}
.half-width img{
    width: 80%;
}
.link-button{
    background-image: linear-gradient(orange,tomato);
    padding: 20px 30px;
    display: inline-block;
    margin-top: 20px;
    box-shadow: 0px 2px 30px rgba(252, 143, 73, 0.5);
    border-radius: 100px;
    text-decoration: none;
    color: white;
    font-weight: bold;
    
}
#about-area{
    background-image: url(images/shapes/Frame\ 59.jpg);
    background-size:100%;
    background-repeat: no-repeat;
    /*display: flex;*/
}
#about-me{
    margin-left: 200px;
    margin-top: 80px;
}
.recepie-area{
    text-align: center;
}
.recepie-item-area{
    width:80%;
    padding-top: 20px;
    padding-left:50px
}
.recepie-item{
    width: 30%;
    margin-left: 5%;
    margin-right: 5%;
    box-shadow: 10px 10px 40px gray;
    border-radius: 20px;
    padding: 10px;
    text-align: left;
}
.recepie-item img{
    padding:20px;
    width:30ex;
    border-radius: 60px;
}
.follow-me-area{
    width: 85%;
    margin: 100px;
    box-shadow: 10px 10px 40px gray;
    border-radius: 20px;
    padding: 10px;
}
.button{
    padding: 30px;
}
footer{
    text-align: center;
    background: black;
    color: white;
    padding: 40px;
}
footer p{
    font-size: 12px;
}